* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(45deg ,#F2F2F2,#6ed7e7,#f3c443,#eaa212);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    text-align: center;
  }

  @keyframes color{
    
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position:  100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
title{
    color: #b0413e;
}
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #030302;
    font-size: 5vmin;
    font-weight: 700;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }